# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.gd21-workshops-w12-w13.iml
# Editor-based HTTP Client requests
/httpRequests/
